<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPSTORE_PAGE_LINK</key>
	<string>$(APPSTORE_PAGE_LINK)</string>
	<key>APP_VERSION_IDENTIFIER</key>
	<string>$(APP_VERSION_IDENTIFIER)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>ch.protonmail.protondrive.processing</string>
		<string>ch.protonmail.protondrive.checkNewPhotoInGallery</string>
		<string>ch.protonmail.protondrive.photosProcessing</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Proton Drive</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Proton Doc</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>me.proton.drive.doc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>Debug</string>
	<key>DEFAULT_API_HOST</key>
	<string>$(DEFAULT_API_HOST)</string>
	<key>DEFAULT_PHOTOS_REMINDER_DELAY</key>
	<true/>
	<key>DYNAMIC_DOMAIN</key>
	<string>$(DYNAMIC_DOMAIN)</string>
	<key>IS_UI_TEST</key>
	<string>$(IS_UI_TEST)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>41adced7-5863-42ad-bdb3-23d06e43946e</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>compute.amazonaws.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Use camera to upload photos and videos to the Drive</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use FaceID to unlock the app</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Use microphone to upload videos to the Drive</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Use photo library to save photos and videos from the Drive</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Use photo library to import photos and videos to the Drive</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>DriveLaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UPLOADED_PHOTO_NOTIFICATION</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Proton Doc</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>protondocIcon.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>me.proton.drive.doc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>protondoc</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.proton.doc</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
