<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PDCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>PDCoreCoreDataModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>PDCoreMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PDCoreStatic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>PDCoreTestsHost.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB2DB716240FDDAA00FEF29E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB853458251C9ACC00B114E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABCD3AC6299123ED00432FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE2784D29912D39008EC1B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D41651662835478000A3EA22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
